[Desktop Entry]
Type=Application
Name=Mirrorstages
Comment=Mirrorstages 客户端
Exec=mirrorstages-desktop
Icon=mirrorstages-desktop
Terminal=false
Categories=Utility;Network;
StartupWMClass=desktop
